.header{
  z-index: 1; 
}
.header-text{
  display: flex;
  justify-content: center;
  align-content: center;
  color: white;
}
.background img{
  max-width: 100%;
}
.background{
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute; 
  top: 0px;
  left: 0px;
  z-index: -1;}
.svg{display:flex;}
circle{ 
  animation: circles 2s alternate infinite cubic-bezier(.5,0,.5,1); 
  cy:15;
}
circle:nth-child(4n+1){fill:blue;}
circle:nth-child(4n+2){fill:green;}
circle:nth-child(4n+3){fill:red;}
circle:nth-child(4n+4){fill:yellow;}

@for $i from 0 through 45 {
  circle:nth-child(#{$i}) {
    animation-delay:-0.10s * $i;
    cx :65 - ($i * 2);
    r: 9 + (0.5 * $i);
  }
}
@keyframes circles { to {transform:translate(5%,40%);} }

p{
    color: white;
    box-shadow: 0em 0em 2.5em;
}
.text-box{
    position: relative;
    height: 100vh;
    display: flex;
    z-index: 1000;
    align-items: center;
    justify-content: center;
}
.worm{
    z-index: -1;
    position: fixed;
}
.worm-2{
  z-index: -1;
  position: fixed;
}
.clock{
  max-width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}
